<!DOCTYPE html>
<html>
<head>
  <title>Bright Ideas</title>
  <style type="text/css">
     #wrapper{
    padding: 20px;
    }
    .post_content{
      border: 2px solid black;
      width: 400px;
      padding: 5px;
    }
    .new_post{
      width: 310px;
    }
    .main_content{
      width: 600px;
    }
    .btn_close{
      border-radius: 40%;
      border: 2px solid black;
      background-color: white;
      cursor: pointer;
    }
    .like{
      display: inline-block;
    }
    .like_count{
      display: inline-block;
      margin-left: 20px;
    }
    .delete{
      position: relative;
      left:420px;
      bottom: 40px;
    }
    .name{
      display: inline-block;
    }
    .logout{
      display: inline-block;
      margin-left: 500px;
    }
  </style>
</head>
<body>
<div id="wrapper">
<%= flash["success"] %>
<div class="name"><p><strong>Hi, <%= @user.alias %> !</strong></p></div>
<div class="logout"><p><a href="/sessions/out">Log Out</a></p></div>

<form action="/posts/create" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input id="New_post" type="text" name="New_post" class="new_post" placeholder="Post something witty here...">
  <input type="submit" value="Idea!">
</form>

<div class="main_content">

  <% @post.each do |post| %>

    <p><a href="/users/<%= post.user.id%>"><%= post.user.alias %></a> says:<div class="post_content"><%= post.content %></div> </p>
    <% if current_user == post.user %>
    <div class="delete">
      <form action="/posts/<%= post.id %>" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type='hidden' name='post_id' value='<%= post.id %>'>
        <input name="_method" value="delete" type="hidden">
        <button type="submit" class="btn_close">x</button>
      </form>
  </div>
  <% end %>
  <div class="like">
  <% if not Like.where(user_id:session[:user_id], post_id: post.id).exists? %>
   <form action='/likes' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='post_id' value='<%= post.id %>'>
      <input type='submit' value='Like'>
  </form> 
  <% else %>
  <form action='/unlikes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='post_id' value='<%= post.id %>'>
    <input type='submit' value='Unlike'>
  </form> 
  <% end%>
  </div>
  <div class="like_count">
 <a href="bright_ideas/<%= post.id%>"><%= post.likes.count %> people</a> like this.
  </div> 
  <% end %>
</div>
</div>
</body>
</html>

